{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="album py-5">
        <div class="container">

            <div class="row">
                {% for video in videos %}
                    <div class="col">
                        <div class="card shadow-sm">
                            <a href="{{ video.url }}" class="text-decoration-none text-reset">
                                <img src="{{ video.thumbnail }}" class="bd-placeholder-img card-img-top" alt="Video thumbnail" width="100%">
                                <div class="card-body">
                                    <p class="card-text">{{ video.title }}</p>
                                    <p class="card-text">{{ video.description }}</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                        </div>
                                        <small class="text-body-secondary">{{ video.timeCode }} min</small>
                                    </div>
                                </div>
                            </a>

                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>
{% endblock %}
